html, body {
  width: auto !important;
  overflow-x: hidden !important;
  height: 100%;
}
.navbar-toggle {
  display: block;
  padding: 16px 0;
  margin: 0 auto;
}
@font-face {
  font-family: Segoe UI;
  src: url(font/segoeui.ttf);
  src: url(font/segoeuib.ttf);
  src: url(font/segoeuii.ttf);
  src: url(font/segoeuil.ttf);
  src: url(font/segoeuiz.ttf);
  src: url(font/seguisb.ttf);
}
@font-face {
  font-family: Segoe UI bold;
  src: url(font/segoeuib.ttf);
}

body {
  font-family: "Segoe UI";
  background: #ffd039;
}
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}
.container-fluid {
  background: #fff;
}
.navbar-toggle .icon-bar {
  display: block;
  width: 43px;
  height: 4px;
  margin: 6px 0;
  border-radius: 1px;
  background-color: #8c8c8c;
}
.nav>li>a:focus, .nav>li>a:hover, .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  background: none;
  border: 1px solid transparent;
}
#menu-icon-bar {
  display: inline-block;
  margin-right: 15px;
  margin-top: 11px;
}
#menu-text {
  font-size: 21px;
  color: #959595;
  font-family: "Segoe UI bold";
  font-weight: bold;
}
#pic-logo {
  width: 70%;
}
#pic-cnlogo {
  width: 100%;
}
#body {
  background: #fff;
  margin: -5px 0 0 0;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 110px;
}
#body-full {
  background: #ffd039;
  margin: 0;
  border-top: 5px solid #ffc000;
  border-left: 5px solid #ffc000;
  border-right: 5px solid #ffc000;
}
#header {
  margin-top: 5px;
  margin-bottom: 2px;
}
.no-padding {
  padding: 0;
}
.blue-line {
  background: #4a7ebb;
  width: 102%;
  height: 2px;
  margin-left: -10px;
  background-repeat: repeat-x;
}
nav#myNavmenu {
  width: 10%;
  border-left: 1px solid #7f7f7f;
}
.label-name {
  border-bottom: 2px solid #4a7ebb;
}
.cancel-pic {
  width: 19%;
  margin-top: -74px;
}
.alice-pic {
  width: 55%;
  margin-top: 15px;
}
.label-name p {
  font-family: "Segoe UI bold";
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
.prog-task p {
  color: #000;
}
.in-progres-blue {
  background: #f9f9f9;
  border-bottom: 2px solid #789fcc;
  border-left: 2px solid #789fcc;
  border-right: 2px solid #789fcc;
  margin-top: -3px;
  margin-left: 2px;
  padding: 18px 25px 10px 25px;
  margin-bottom: 20px;
}
#blue-p {
  width: 3%;
  float: left;
}
#in-progres-bold{
  float: left;
  font-family: "Segoe UI bold";
  font-weight: bold;
  margin: 0 12px;
}
img#blue-pic {
  width: 3%;
  float: left;
}
.title {
  color: #8a8a8a;
  font-family: "Segoe UI";
  font-size: 34px;
  margin-bottom: -5px;
  margin-top: 0;
}
.line {
  background: black;
  width: 100%;
  height: 2px;
  background-repeat: repeat-x;
}
li.active p {
  font-family: "Segoe UI bold";
  font-weight: bold;
}
p.title-dash {
  font-family: "Segoe UI";
  font-size: 15px;
  color: #cdcdcd;
}
.percent {
  width: 100px;
  position: relative;
  top: -46px;
  left: -11px;
}
.dash {
  text-align: center;
}
.dash ul {
  padding: 0;
  text-align: center;
  border-left: none;
  border-bottom: none;
}
.dash li {
  display: block;
  font-size: 13px;
  padding-top: 5px;
}
.dash li.active {
  line-height: 0px;
  padding-top: 10px;
}
.dash a {
  text-decoration: none;
  color: inherit;
}
.prog h2 {
  font-family: "Segoe UI bold";
  font-weight: 800;
  margin: 25px 0;
}
.prog p{
  font-size: 24px;
  font-family: "Segoe UI";
}
.prog-task.active p {
  font-weight: bold;
  font-family: "Segoe UI bold";
}
.nav-tabs {
  border: none;
}
.prog-line-full {
  z-index: 1;
  position: relative;
}
li.text-center {
  width: 25%;
}
li.prog-li {
  width: 16.6%;
}
li.col-sm-2.text-center {
  margin: 0;
  padding: 0;
}
.nav-tabs>li>a:hover {
  border-color: transparent;
}
.septask a {
  font-size: 16px;
  font-weight: bold;
  font-family: "Segoe UI bold";
  color: #718ed5;
  text-decoration: underline;
}
.septask span {
  text-align: left;
  font-size: 20px;
}
span.glyphicon.glyphicon-ok.green {
  width: 26px;
  height: 26px;
  background: #6dc400;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  text-align: center;
  color: #fff;
  font-size: 10px;
  line-height: 25px;
}
span.glyphicon.glyphicon-ok {
  width: 26px;
  height: 26px;
  background: #6dc400;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  text-align: center;
  color: #fff;
  font-size: 10px;
}
.pic-in-progress {
  width: 62%;
}
.check {
  width: 3%;
  text-align: center;
}
span.no-checked {
  width: 26px;
  height: 26px;
  border: 2px solid #d9d9d9;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  text-align: center;
  color: #fff;
  font-size: 10px;
  display:inline-block;
  margin: -3px 0;
}
.col-xs-9.task-line {
  border-top: 2px solid #f9f9f9;
  border-bottom: 2px solid #f9f9f9;
  padding: 11px 0;
  padding-left: 21px;
}
.col-xs-7.task-line {
  border-top: 2px solid #f9f9f9;
  border-bottom: 2px solid #f9f9f9;
  padding: 11px 0;
  padding-left: 21px;
}
.col-xs-5.task-line {
  border-top: 2px solid #f9f9f9;
  border-bottom: 2px solid #f9f9f9;
  padding: 11px 0;
  padding-left: 21px;
}
.col-xs-4.task-line {
  border: 2px solid #f9f9f9;
  padding: 11px 0;
  padding-left: 6.5%;
  padding-right: 6.5%;
}
.col-xs-1.task-line {
  border: 2px solid #f9f9f9;
  padding: 20px 0;
  text-align: center;
}
.col-xs-2.task-line {
  border: 2px solid #f9f9f9;
  padding: 19px 0;
  text-align: center;
}
.col-xs-2.task-line3 {
  border: 2px solid #f9f9f9;
  padding: 11px 0;
  text-align: center;
}
span.in-progress {
  border: 1px solid #6dc400;
  display: inline-block;
  height: 20px;
  position: relative;
  width: 18px;
}
span.in-progress::before {
  border-bottom: 8px solid #6dc400;
  border-left: 9px solid rgba(0, 0, 0, 0);
  border-right: 9px solid transparent;
  content: "";
  height: 0px;
  left: -2px;
  position: absolute;
  top: -8px;
  width: 20px;
}
span.in-progress::after {
  border-bottom: 8px solid #fff;
  border-left: 9px solid rgba(0, 0, 0, 0);
  border-right: 9px solid transparent;
  content: "";
  height: 0px;
  left: -1px;
  position: absolute;
  top: -7px;
  width: 10px;
}
span.in-progress {
  transform: rotate(90deg);
}
.circle {
  width: 80px;
  height: 80px;
  background: #edf2f7;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  margin: 0 auto;
  position: relative;
  top: -10px;
}
hr {
  border: 1px solid #789fcc;
}
.small {
  width: 48%;
  border: 2px solid #f9f9f9;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-top: 20px;
}
.call-button {
  width: 70%;
  border-top: 2px solid #f9f9f9;
}
.profile-pic{
  width: 65%;
  margin: 15px 0 25px 0;
}
.margin {
  margin-right: 4%;
}
.compete p {
  font-size: 17px;
}
.exclamation {
  margin-right: 29px;
  width: 9%;
}
.compete {
  width: 86%;
  float: right;
  margin-top: 17px;
}
.arrow {
  float: left;
  margin-top: 5px;
}
.compete-sub {
  width: 96%;
  float: right;
}
.compete-sub p {
  font-size: 17px;
  font-weight: bold;
  font-family: "Segoe UI bold";
}
.compete-sub a {
  color: #558ed5;
  font-size: 17px;
  text-decoration: underline;
}
.disc p {
  font-size: 22px;
  font-weight: bold;
  margin: 0;
  font-family: "Segoe UI bold";
}
.disc-text1 {
  width: 75%;
  float: left;
}
.disc {
  background: #f9f9f9;
  color: #0B0A0A;
  padding: 15px 50px;
  color: #000;
  margin: 0px -15px;
}
.disc.active{
  color: #000;
}
h3 {
  font-weight: bold;
  font-family: "Segoe UI bold";
}
span.glyphicon.glyphicon-ok.index2 {
  border: 1px solid #000;
  width: 25px;
  height: 25px;
  background: #fff;
  color: #6dc400;
  vertical-align: middle;
  margin: 0 auto;
  font-size: 21px;
  border-radius: 0;
}
span.glyphicon.glyphicon-ok.index2no {
  width: 25px;
  height: 25px;
  background: #fff;
  border: 1px solid #000;
  border-radius: 0;
  margin: -3px 0px;
}
span.glyphicon.glyphicon-pencil {
  border: 4px solid #265691;
  color: #265691;
  font-size: 18px;
  padding: 2px;
  font-weight: 800;
  border-radius: 4px;
  margin-right: 10px;
}
li.active .pic {
  display: none;
}
li.active .pic-active {
  display: block;
  width: 40%;
  margin: 0 auto;
}
li .pic-active {
  display: none;
}
li .pic {
  display: block;
  width: 40%;
  margin: 0 auto;
}
span.glyphicon.glyphicon-align-justify {
  font-size: 17px;
  position: relative;
  right: 3px;
  top: 2px;
}
.container-fluid.main .row {
  margin-top: 20px;
}
.icon-car .icon {
  background: url('image/car-page3.png');
  width: 26px;
  height: 26px;
}
.icon-bed .icon {
  background: url('image/bed-page3.png');
  width: 26px;
  height: 26px;
}
.border-line {
  border: 2px solid #f9f9f9;
}
.col-xs-1.icon-bed {
  border-right: 2px solid #f9f9f9;
}
.col-xs-1.icon-car {
  border-right: 2px solid #f9f9f9;
}
.col-xs-5.border-lin, .col-xs-2.border-lin{
  border-right: 2px solid #f9f9f9;
}
.dash li.active p {
  color: #000;
  margin: 15px 0;
}
.circle::after {
  content: "";
  display: block;
  background: #edf2f7;
  width: 300px;
  height: 36px;
  position: relative;
  left: 70px;
  top: -16px;
  z-index: -1;
}
.circle::before {
  content: "";
  display: block;
  background: #edf2f7;
  width: 350px;
  height: 36px;
  position: relative;
  left: 260px;
  top: 20px;
  z-index: -1;
}
.circle1 {
  width: 80px;
  height: 80px;
  background: #edf2f7;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  margin: 0 auto;
  position: relative;
  top: -10px;
}
.circle-one {
  width: 80px;
  height: 80px;
  background: #4caaf2;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  margin: 0 auto;
  position: relative;
  top: -10px;
}
.circle-one::after {
  content: "";
  display: block;
  background: #4caaf2;
  width: 105px;
  height: 36px;
  position: relative;
  left: 35px;
  top: -80px;
  z-index: -1;
}
.circle-one::before {
  content: "";
  display: block;
  background: #4caaf2;
  width: 105px;
  height: 36px;
  position: relative;
  left: 134px;
  top: 21px;
  z-index: -1;
}
.circle-two {
  width: 80px;
  height: 80px;
  background: #4caaf2;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  margin: 0 auto;
  position: relative;
  top: -10px;
}
.circle-two::after {
  content: "";
  display: block;
  background: #edf2f7;
  width: 200px;
  height: 36px;
  position: relative;
  left: 70px;
  top: -116px;
  z-index: -1;
}
.circle-two::before {
  content: "";
  display: block;
  background: #edf2f7;
  width: 350px;
  height: 36px;
  position: relative;
  left: 260px;
  top: 21px;
  z-index: -1;
}
span.glyphicon.glyphicon-ok.blue {
  background: transparent;
  color: #000;
  position: relative;
  top: -28px;
  left: 7px;
  font-size: 29px;
  border: 10px solid #0a79cd;
  padding: 8px;
  display: table-cell;
  vertical-align: middle;
}
.incomplete  {
  position: relative;
  top: -29px;
  left: 6px;
  width: 67px;
  height: 67px;
  border-radius: 50%;
  border: 10px solid #0a79cd;
}
.arc {
  overflow: hidden;
  position: absolute;
  top: -10px;
  right: 50%;
  bottom: 50%;
  left: -10px;
  transform-origin: 100% 100%;
  transform: rotate(0deg) skewX(0deg);
}
.arc:before {
	box-sizing: border-box;
	display: block;
	border: 10px solid #addcff;
	width: 200%;
	height: 200%;
	border-radius: 50%;
	transform: skewX(0deg);
	content: '';
}
.present {
  font-size: 18px !important;
  font-weight: 700;
  position: relative;
  top: 11px;
  left: 1px;
}
.prog-task {
  border-bottom: 2px solid #789fcc;
  margin: -39px -18px -9px -16px;

}
.profile-text1 {
  color: #d9d9d9;
  font-size: 20px;
  font-weight: bold;
  font-family: "Segoe UI bold";
}
.profile-name {
  font-size: 20px;
  color: #d9d9d9;
  font-weight: bold;
  margin-top: 20px;
  font-family: "Segoe UI bold";
}
.profile-text2 {
  font-size: 20px;
  font-style: italic;
}
a.contact-with {
 text-decoration: inherit;
 color: inherit;
}
.mail-pic {
  width: 25%;
  float: left;
  margin-right: 10px;
  margin-top: 10px;
}
p.mail-text {
  margin-top: 20px;
  font-size: 17px;
}
.phone-pic {
  margin-left: 30px;
  margin-right: 10px;
  width: 22%;
  margin-top: 14px;
  float: left;
}
p.phone-text {
  margin-top: 20px;
  font-size: 17px;
}
.disableClick{
  pointer-events: none;
}
.col-md-2.text-center {
  padding: 0;
}
.prog-task p {
  min-height: 128px;
  padding-top: 50px;
  margin: 0 auto;
  padding-bottom: 10px;
  width: 80%;
}
li.active .prog-task {
  min-height: 93px;
  background: url('image/backg.png');
  background-position: bottom center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-bottom: transparent;
  position: relative;
  top: 2px;
}
/* -------------- slide 4----------- */
.title-page h2 {
  color: #4a7ebb;
  font-weight: bold;
  font-size: 35px;
  margin-left: 20px;
  font-family: "Segoe UI";
}
.title-page {
  margin-top: 20px;
}
.content {
  margin-top: 30px;
  margin-left: 20px;
}
.exclamation-text-page {
  width: 3%;
  float: left;
}
.text {
  float: right;
  width: 90%;
  margin-right: 65px;
  text-align: left;
}
.text p {
  font-size: 32px;
  font-family: "Calibri";
  margin-bottom: 25px;
  line-height: 38px;
}
.grey-line {
  background: #bfbfbf;
  width: 102%;
  height: 2px;
  margin-left: -10px;
  background-repeat: repeat-x;
}
.btn{
  border-color: #8eb4e3;
  margin: 25px 0;
  font-family: "Calibri";
  font-size: 25px;
  border-radius: 12px;
  padding: 6px 25px;
}
.btn-primary{
  background: #8eb4e3;
  float: right;
  padding: 6px 35px;
}

/*----------------slide 5 -------------*/
.edit {
  font-family: "Calibri";
  color: #34b8f4;
  font-size: 23px;
}
.edit p {
  padding-bottom: 10px;
}
.delete {
  font-family: "Calibri";
  color: #34b8f4;
  font-size: 23px;
}
.delete p {
  padding-top: 10px;
}
.date p {
  font-family: "Calibri";
  color: #a6a6a6;
  font-size: 24px;
  font-family: "Calibri";
}
.first-date p {
  font-family: "Calibri";
  font-size: 24px;
  color: #000;
}
.footer {
  position: absolute;
  left: 45px;
  right: 45px;
  bottom: 0;
}
.content h4 {
  font-size: 32px;
  font-family: "Calibri";
  margin-bottom: 25px;
  line-height: 29px;
}
a.back {
  font-family: "Calibri";
  font-size: 25px;
  color: #a6a6a6;
  text-decoration: inherit;
}
.back::before {
  content: "<";
  display: block;
  float: left;
  margin-right: 10px;
  font-family: "Calibri";
  font-size: 25px;
}
#back {
  margin-top: 31px;
}
.edit span {
  font-family: "Calibri";
  padding-left: 10px;
}
.delete span {
  font-family: "Calibri";
  padding-left: 10px;
}
/*----------------slide6 -------------*/
label.checkbox-inline {
  display: block;
}
label.checkbox-inline span {
  vertical-align: middle;
  padding-left: 10px;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.1;
}
.subtitle h4 {
  float: left;
  margin-right: 65px;
}
label.checkbox-inline {
  padding-top: 15px;
}
.form-control-label {
  font-family: "Calibri";
  font-size: 20px;
  font-weight: normal;
  color: #a6a6a6;
  padding: 0;
  clear: both;
}
.form-control {
  border-radius: 0;
}
form {
  width: 80%;
  padding-left: 15px;
}
/*----------------slide6 -------------*/
.checkbox-inline.slide7 {
  padding: 0;
  margin-bottom: 15px;
}
.form-group {
  margin-bottom: 10px;
}
.category p {
  font-family: "Calibri";
  font-size: 21px;
  color: #000;
}
/*----------------slide8 -------------*/
.category {
  width: 15%;
}
.btn-default {
  color: #558ed5;
  border-radius: 0;
  border: 2px solid #558ed5;
}
.btn-default:active:focus, .btn-default:active:hover,
.btn-default:hover, .btn-default.active, .btn-default:active,
.open>.dropdown-toggle.btn-default, btn-default:active:focus,
.btn-default:active:hover,.btn-default.focus, .btn-default:focus  {
  color: #558ed5;
  border-radius: 0;
  border: 2px solid #558ed5;
  background: #fff;
}
/*----------------slide11 -------------*/
.content a {
  font-size: 26px;
  font-family: "Calibri";
  margin-bottom: 25px;
  line-height: 29px;
  text-decoration: inherit;
}
a:hover {
  color: #337ab7;
}
.btn-primary.finish {
  background: #d9d9d9;
  float: right;
  padding: 6px 35px;
  border: none;
  color: #bfbfbf;
}
.btn-primary.active.focus, .btn-primary.active:focus,
.btn-primary.active:hover, .btn-primary:active.focus,
.btn-primary:active:focus, .btn-primary:active:hover,
.open>.dropdown-toggle.btn-primary.focus,
.open>.dropdown-toggle.btn-primary:focus,
.open>.dropdown-toggle.btn-primary:hover {
  color: #bfbfbf;
  background: #d9d9d9;
  border: none;
}
.add-text p {
  font-family: "Calibri";
  font-size: 22px;
}
.add-text {
  margin-top: 50px;
}
/*----------------slide13 -------------*/
.details-button {
  color: #558ed5;
  font-size: 17px;
  text-decoration: underline;
}
a.contact-with:hover {
  color: #000;
}
/*----------------travel -------------*/
.septask {
  margin-top: 10px;
}
.icon-car {
  margin-top: 5px;
}
.border-lin {
  margin-top: 10px;
}


/*----------------media -------------*/
@media screen and (max-width:2700px){
.circle::before {
  width: 300px
}
img#blue-pic {
  width: 2%;
}
}

@media screen and (max-width:2500px){
.circle::before {
  width: 250px
}
}

@media screen and (max-width:2200px){
.circle::before {
  width: 200px
}
}

@media screen and (max-width:2000px){
.circle::before {
  width: 160px
}
}

@media screen and (max-width:1800px){
.circle::before {
  width: 140px
}
}

@media screen and (max-width:1680px){
.circle::before {
  width: 70px
}
.circle::after {
  width: 200px;
}
}

@media screen and (max-width:1400px){
.call-button {
  width: 53%;
}
.exclamation {
  margin-right: 0;
}
p.profile-text2 {
  font-size: 18px !important;
}
}


@media screen and (max-width:1366px){
.cancel-pic {
  margin-top: -38px;
}
.call-button {
  width: 50%;
}
p.mail-text {
  font-size: 13px  !important;;
}
p.phone-text {
  font-size: 13px  !important;;
}
.small {
  width: 50%;
}
.title {
  font-size: 26px;
}
.prog p {
  font-size: 17px;
}
.col-xs-2.task-line {
  padding: 18px 0;
}
.col-xs-1.task-line {
  padding: 18px 0;
}
.circle::before {
  width: 60px;
}
.circle::after {
  width: 200px;
}
.compete p {
  font-size: 14px;
}
.text {
  width: 87%;
}
.text p {
  font-size: 25px;
}
p.profile-text2 {
  font-size: 14px !important;
  font-style: italic;
}
.details-button {
  font-size: 14px;
}
p.profile-text2 {
  font-size: 17px !important;
}
}

@media screen and (max-width: 1290px) {
.circle::after {
  width: 180px;
}
.circle::before {
  width: 0;
}
}

@media screen and (max-width: 1228px) {
.call-button {
  width: 45%;
  text-align: center;
}
.phone-pic {
    float: none;
    margin: 14px 0 0 0;
}
.mail-pic {
  float: none;
}
.compete-sub {
  float: none;
}
p.profile-text2 {
  font-size: 12px !important;
}
.icon-car {
  width: 16%;
  margin-top: 10px;
}
.icon-bed {
  width: 16%;
  margin-top: 10px;
}
}

@media screen and (max-width:992px){
.call-button {
  width: 45%;
  text-align: center;
}
form {
  text-align: center;
}
p.title-dash {
  font-size: 12px;
}
.circle::before {
  background: transparent;
}
.circle::after {
  width: 160px;
}
.circle::before {
  width: 50px;
}
.prog p {
  font-size: 15px;
}
.title {
  font-size: 20px;
}
.disc-text1 {
  width: 76.3%;
}
.col-xs-4.task-line {
  padding-left: 7.5%;
  padding-right: 7.5%;
}
.septask a {
  font-size: 14px;
}
.col-xs-1.task-line {
  padding: 13px 0;
}
.col-xs-2.task-line {
  padding: 13px 0;
}
.compete p {
    font-size: 12px;
}
.text {
  width: 85%;
}
.exclamation-text-page {
  width: 4%;
}
.date p {
  font-size: 20px;
}
.first-date p {
  font-size: 20px;
}
.edit {
  font-size: 15px;
}
.delete {
  font-size: 15px;
}
.content {
  margin-left: 0px;
}
form {
  width: 95%;
  padding: 0;
}
#menu-icon-bar {
  margin-right: 76px;
}
.content h4 {
  font-size: 27px;
}
}

@media screen and (max-width:815px){
.circle::after {
  width: 120px;
}
.circle::before {
  width: 0;
}
.circle-two::before {
  width: 290px;
}
}

@media screen and (max-width:768px){
.call-button {
  width: 100%;
  padding: 0;
  margin: 0;
}
.no-padding {
  text-align: center;
}
.navbar-toggle {
  float: none;
}
#menu-icon-bar {
  margin: 0;
}
.prog p {
  font-size: 13px;
}
li.text-center {
  display: inline;
  width: 100%;
}
li.active .prog-task {
  background: none;
}
.title {
  font-size: 17px;
}
.prog-line-full {
  transform: rotate(90deg);
  position: relative;
  left: -200px;
}
.span.glyphicon.glyphicon-ok.blue {
  transform: rotate(270deg);
}
.percent {
  transform: rotate(270deg);
}
.in-progres-blue {
  position: relative;
  top: -421px;
  background: none;
  border: none;
  left: 135px;
}
.incomplete {
  transform: rotate(270deg);
}
.prog-task {
  border-bottom: transparent;
}
.prog-task.active {
  background: none;
}
.prog-task p {
  padding:20px 0;
  min-height: 50px;
  font-size: 13px;
}
.blue {
  transform: rotate(270deg);
}
.prog-task.active{
  min-height: 0;
}
.circle::before {
  background: transparent;
}
.circle-two::before {
  width: 199px;
}
span.glyphicon.glyphicon-ok {
  width: 12px;
  height: 12px;
  font-size: 6px;
}
#pic-cnlogo {
  width: 20%;
}
li.active .pic-active {
  width: 55%;
}
p.title-dash {
  font-size: 9px;
}
li .pic {
  width: 55%;
}
.prog-task p {
  font-size: 25px;
}
.circle::after {
  width: 70px;
}
.compete-sub a {
  font-size: 12px;
}
.row-eq-height {
  display: block;
}
.col-sm-6.small.margin {
  height: 155px;
}
.small {
  width: 100%;
}
.margin {
  height: 200px;
}
.profile-pic {
  width: 34%;
}
.mail-pic {
  width: 8%;
}
.phone-pic {
  width: 8%;
}
.text p {
  font-size: 21px;
}
.text {
  width: 81%;
}
.subtitle h4 {
  float: none;
}
p.profile-text1 {
  font-size: 25px !important;
}
p.profile-text2 {
  font-size: 25px !important;
}
.details-button {
  font-size: 20px;
}
p.profile-name {
  font-size: 25px !important;
}
p.mail-text {
  font-size: 20px !important;
}
p.phone-text {
  font-size: 20px !important;
}
.disc p {
  font-size: 22px !important;
}
.compete p {
  font-size: 18px !important;
}
}

@media screen and (max-width:600px) {
.in-progres-blue {
  position: relative;
  top: -421px;
  background: none;
  border: none;
  left: 54px;
}
.text {
  width: 71%;
}
.exclamation-text-page {
  width: 6%;
}
h2.title-page {
  font-size: 25px;
}
.title-page h2 {
  font-size: 25px;
}
form {
  margin-top: 15px;
}
.date p {
  font-size: 17px;
}
.category p {
  font-size: 17px;
}
.first-date p {
  font-size: 17px;
}
.icon-car {
  width: 20%;
  margin-top: 15px;
}
.icon-bed {
  width: 20%;
  margin-top: 15px;
}
}

@media screen and (max-width:520px) {
h2.title-page {
    font-size: 25px;
}
.prog-line-full {
  transform: rotate(90deg);
  position: relative;
  left: -160px;
}
.prog-task p {
  font-size: 12px;
}
.septask span {
  text-align: left;
  font-size: 14px;
}
.septask a {
  font-size: 12px;
}
.prog p {
  font-size: 12px;
}
.col-xs-7.task-line {
  padding-left: 4px;
}
.in-progres-blue {
  position: relative;
  top: -384px;
}
p.title-dash {
  font-size: 7px;
}
.text {
  width: 66%;
}
.text p {
  font-size: 15px;
}
.date p {
  font-size: 15px;
}
.category p {
  font-size: 14px;
}
.first-date p {
  font-size: 15px;
}
.edit {
  font-size: 12px;
}
.delete {
  font-size: 12px;
}
.title-page h2 {
  font-size: 22px;
}
.content h4 {
  font-size: 20px;
}
.content a {
  font-size: 20px;
}
.add-text p {
  font-size: 18px;
}
}

@media screen and (max-width:430px) {
.title-page h2 {
  font-size: 20px;
}
.prog-line-full {
  transform: rotate(90deg);
  position: relative;
  left: -125px;
}
.text {
  width: 58%;
}
.exclamation-text-page {
  width: 9%;
}
h2.title-page {
  font-size: 16px;
}
}
